@import url(https://fonts.googleapis.com/css?family=Roboto);

* {
    padding: none;
    margin: none;
    user-select: none;
    -webkit-user-drag: none;
    font-family: "Roboto";
    /*border: rgba(0, 0, 0, 0.402) 1px dashed;*/
}

html, body {
    height: 370px;
    width: 350px;
    background-color: rgb(248, 248, 248);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
}

.section-title
{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.section-title img
{
    height: 70%;
    margin-right: 10px;
    opacity: 80%;
    cursor: pointer;
}

.section-title p
{
    display: inline-block;
    margin-left: 10px;
    color: rgb(64, 64, 64);
    font-weight: bold;
    font-size: 2em;
}

.section-toggle-switch
{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.section-toggle-switch p
{
    color: rgb(64, 64, 64);
    text-transform: uppercase;
    text-align: left;
    font-weight: bold;
}

/* Displaying site visits */
.entry-wrapper
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 80%;

    background-color: rgb(105, 105, 105);
    border-radius: 10px;
    padding: 20px;
}

.entry-wrapper-gold
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 80%;

    background-color: gold;
    border-radius: 10px;
    padding: 20px;
}

.entry-wrapper-gold:before {
    content: '';
    position: absolute;
    width: 100px;
    height: 18%;
    background-image: linear-gradient(
        120deg,
        rgba(255,255,255, 0) 15%,
        rgba(255,255,255, .8),
        rgba(255,255,255, 0) 85%
    );
    top: 0;
    right: 80%;
    bottom: 32%;
    left: 0;
    margin: auto;
    animation: shine 2.3s infinite linear;
}


@keyframes shine {
    0% {left: -100px}
    20% {left: 100%}
    100% {left: 100%}
}



.entry-wrapper-silver
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 80%;

    background-color: silver;
    border-radius: 10px;
    padding: 20px;

}

.entry-wrapper-silver:before {
    content: '';
    position: absolute;
    width: 100px;
    height: 18%;
    background-image: linear-gradient(
        120deg,
        rgba(255,255,255, 0) 15%,
        rgba(255,255,255, .8),
        rgba(255,255,255, 0) 85%
    );
    top: 18%;
    right: 80%;
    bottom: 15%;
    left: 0;
    margin: auto;
    animation: shine 2.8s infinite linear;
}


.entry-wrapper-bronze
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 80%;

    background-color: #CD7F32;
    border-radius: 10px;
    padding: 20px;
}

.entry-wrapper-bronze:before {
    content: '';
    position: absolute;
    width: 100px;
    height: 16%;
    background-image: linear-gradient(
        120deg,
        rgba(255,255,255, 0) 15%,
        rgba(255,255,255, .8),
        rgba(255,255,255, 0) 85%
    );
    top: 38%;
    right: 80%;
    bottom: 0%;
    left: 0;
    margin: auto;
    animation: shine 3s infinite linear;
}

.key 
{
  width: 20%;
  font-weight: bold;
  font-size: 14px;
}

.value
{
  width: 60%;
  text-align: right;
  font-size: 14px;
}

.info 
{
    align-self: flex-start;
    margin-left: 8%;
    font-size: 13px;
}